@import "../../../../styles/variables";

:host ::ng-deep {
  .scandit-container {
    align-items: start;

    .scandit-barcode-picker {
      background: inherit;
    }
  }
}

.scanner-header {
  color: $white;
  left: 50%;
  position: fixed;
  top: 4%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 1; // Above scanner

  h1 {
    filter: drop-shadow(0 0 0.2rem #000);
    font-size: 1.3em;
    margin-top: 0;
  }
}
.scanner-container {
  height: 100%;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  width: 100%;
}
