// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 720px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1600px;

// Colors
$white: #FFFFFF;
$light-background: #F6F8F9;
$border-color: #EBEDED;

$orange-button: #E9973F;
$orange-text: #FF981F;

$text: #5D5D5D;
$text-header: #525252;
$text-secondary: #707070;
$light-placeholder: #C3C4C3;

