<ion-content class="content-container">
  <div class="support-top-container">
    <div class="text-container">
      <ion-text>
        <h4>We need your support</h4>
        <h5>
          If you find ActAgainstWar useful, please consider sharing with friends, and subscribing below as ActAware
          supporter. We also welcome any feedback you might have for us, as we always thrive to improve.
        </h5>
      </ion-text>
    </div>
    <div class="support-share">
      <app-share-buttons></app-share-buttons>
    </div>
    <div class="support-subscribe">
      <app-subscribe></app-subscribe>
    </div>
  </div>
  <div class="support-bottom-container">
    <ion-text>
      <h5>
        Our team have created ActAgainstWar to support efforts of stopping the war. We do not procure any revenue from
        this effort and we are thankful to our friends from Scandit for waiving their fees on their brilliant scanning
        service. If you'd like to support us as well, we welcome your contributions to cover our operational costs
        (coming soon).
      </h5>
      <h5 class="important-text">Let’s make the world a better place.</h5>
    </ion-text>
    <div class="button-container">
      <button
        (click)="contactUs()"
        rel="noreferrer noopener"
        class="action-button ion-text-uppercase"
      >
        Contact us
      </button>
    </div>
  </div>
</ion-content>
